################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/UnionWSDL/obj/Debug
/src/UnionWSDL/.vs/UnionWSDL/v14/.suo
/src/UnionWSDL/bin/Debug
/src/UnionWSDL/packages
